<style>
#content
{
  width: 40%;
  position:relative;
  left: 30%;
  border-style: solid;
    border-width: 3px;
    height: 100%;
}
#menu-button
{
  float: right;
}
table { 
    border-spacing: 10px;
    border-collapse: separate;
}
#header
{
  height: 300px;
}
#arrival
{

  border-style: solid;
  border-width: 5px;
  height: 125px;
  width: 100%;
}
#buttons
{
  height: 40px;
  width: 100%;
  background-color: #f15922;
  font-size: 35px;
}
#map
{
  height: 393px;
}

</style>
<script>
function menuPopout()
{
    var el = document.getElementById("sidebar-popout");
    if ( el.style.display != 'none' ) 
    { 
      el.style.display = 'none';
    } 
    else 
    {
      el.style.display = 'block';
    }
}
function settings()
{
  document.getElementById("home").style.display = "none";
  document.getElementById("routes").style.display = "none";
  document.getElementById("notifications").style.display = "none";
  document.getElementById("faqs").style.display = "none";
  document.getElementById("feedback").style.display = "none";
  document.getElementById("settings").style.display = "block";
}
function home()
{
  document.getElementById("home").style.display = "block";
  document.getElementById("routes").style.display = "none";
  document.getElementById("notifications").style.display = "none";
  document.getElementById("faqs").style.display = "none";
  document.getElementById("feedback").style.display = "none";
  document.getElementById("settings").style.display = "none";
    document.getElementById("sidebar-popout").style.display = "none";

}
function routes()
{
  document.getElementById("home").style.display = "none";
  document.getElementById("routes").style.display = "block";
  document.getElementById("notifications").style.display = "none";
  document.getElementById("faqs").style.display = "none";
  document.getElementById("feedback").style.display = "none";
  document.getElementById("settings").style.display = "none";
      document.getElementById("sidebar-popout").style.display = "none";

}
function notifications()
{
  document.getElementById("home").style.display = "none";
  document.getElementById("routes").style.display = "none";
  document.getElementById("notifications").style.display = "block";
  document.getElementById("faqs").style.display = "none";
  document.getElementById("feedback").style.display = "none";
  document.getElementById("settings").style.display = "none";
      document.getElementById("sidebar-popout").style.display = "none";

}
function faqs()
{
  document.getElementById("home").style.display = "none";
  document.getElementById("routes").style.display = "none";
  document.getElementById("notifications").style.display = "none";
  document.getElementById("faqs").style.display = "block";
  document.getElementById("feedback").style.display = "none";
  document.getElementById("settings").style.display = "none";
      document.getElementById("sidebar-popout").style.display = "none";

}
function feedback()
{
  document.getElementById("home").style.display = "none";
  document.getElementById("routes").style.display = "none";
  document.getElementById("notifications").style.display = "none";
  document.getElementById("faqs").style.display = "none";
  document.getElementById("feedback").style.display = "block";
  document.getElementById("settings").style.display = "none";
      document.getElementById("sidebar-popout").style.display = "none";

}
</script>
<!DOCTYPE html>
<html>
  <head>
        <title>Functional Prototype</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

  </head>
  <body>

        <div id="content">
          
                  <table width="100%">
                    <tr>
                      <td><img src="" width="60px" style="margin:10px;"/></td>
                      <td onClick="home()"><b style="font-size:45px;position:relative;left:100px;">The Ryde</b></td>
                      <td>
                        <div id="menu-button">
                         <img src="" width="60px" onClick="menuPopout()" style="margin:10px; margin-left:125px;"/>
                          <div id="sidebar-popout" style="display:none;width:37%;height:200px;background-color:grey;float:right;position: absolute;z-index: 100;color:white;">
                                  <ul>
                                      <br/><li><a href="#" onClick="settings()">Settings</a></li><br/>
                                      <li><a href="#" onClick="notifications()">Notifications</a></li><br/>
                                      <li><a href="#" onClick="faqs()">FAQ</a></li><br/>
                                      <li><a href="#" onClick="feedback()">Feedback</a></li><br/>
                                  </ul>
                          </div>  
                        <div>
                      </td>
                    </tr>
                  </table>
                  <div id="home">
                    <table width="100%">
                    <tr>
                      <td colspan="3">
                        <div id="arrival"><br/>
                          <p style="text-align:center;font-size:25px;font-weight:bold;">Your bus arrives in:<br/>32 minutes<br/>Occupancy:36/180</p>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3">
                        <div id="map">

                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="3">
                        <div id="buttons" onClick="routes()">
                          <center>Routes</center>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>

                <div id="settings">
                </div>
                <div id="notifications">
                </div>
                <div id="faqs">
                </div>
                <div id="feedback">
                </div>
                <div id="routes">
                </div>
        </div>
        
        
  </body>
</html>


